*{}

.quantity {
  display: inline-flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #eee;
}

.quantity .input-button {
  min-width: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 5px;
  color: #7e7e7e;
  fill: #7e7e7e;
  outline: 0;
  height: 46px;
  line-height: 46px;
  font-weight: 400;
  font-size: 20px;
}

.quantity .input-button:before {
  font-family: 'phosphor';
}

.quantity .input-button:hover {
  color: #000;
  transition: all .3s;
}

.quantity .input-button.minus {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.quantity .input-button.minus:before {
  content: '-';
}

.quantity .input-button.plus {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.quantity .input-button.plus:before {
  content: '+';
}

.quantity .input-text[type=number] {
  background: transparent;
  border: none;
  border-radius: 0;
  width: 30px;
  padding: 0;
  height: 46px;
  line-height: 46px;
  text-align: center;
  -moz-appearance: textfield;
}

.quantity .input-text[type=number]:focus {
  outline: none;
}

.quantity .input-text[type=number]::-webkit-inner-spin-button,
.quantity .input-text[type=number]::-webkit-inner-outer-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

.nbd-mode-modern .quantity.quantity2 {
	display: flex !important;
	max-width: 100px !important;
	align-items: center;
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #eee;
}

.nbo-delivery-custom-quantity .nbd-button {
    border-radius: 5px;
    background: #dd1d26;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    outline: none;
    border: none;
    height: 48px;
    line-height: 48px;
    padding: 0 25px;
    transition: all .3s;
    text-align: center;
    width: 75%;
}

.quantity.quantity2 .inputh {
	width: 100%;
	background: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    padding: 0;
}

.nbo-clear-option-wrap > a {
	display: none;
}

.nbo-fields-wrapper .nbo-delivery-custom-quantity {
	margin-top: 10px;
	align-items: center;
}

.nbd-product-tab .nbo-clear-option-wrap {
	margin-top: 0px !important;
}

input.nbo-dimension2::-webkit-outer-spin-button,
input.nbo-dimension2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}